@model TCO.TFM.WDMS.ViewModels.ViewModels.TravelExpenseMasterDetail


<div class="col-md-6">
    <div class="form-group">
        @Html.LabelFor(model => model.ExpenseNumber, "Expense Number:", htmlAttributes: new { @class = "bmd-label-floating" })
        @Html.TextBoxFor(model => model.ExpenseNumber, new { @readonly = "readonly", @class = "form-control" })
    </div>
</div>
<div class="col-md-6">
    <div class="form-group">
        @Html.LabelFor(model => model.EmployeeName, "Employee Name", htmlAttributes: new { @class = "bmd-label-floating" })
        @Html.TextBoxFor(model => model.EmployeeName, new { @readonly = "readonly", @class = "form-control" })
    </div>
</div>

<div class="col-md-6">
    <div class="form-group">
        @Html.LabelFor(model => model.EmployeeDepartment, "Employee Department", htmlAttributes: new { @class = "bmd-label-floating" })
        @Html.TextBoxFor(model => model.EmployeeDepartment, new { @readonly = "readonly", @class = "form-control" })
    </div>
</div>

<div class="col-md-6">
    <div class="form-group">
        @Html.LabelFor(model => model.ClaimMonth, "Claim For Month", htmlAttributes: new { @class = "bmd-label-floating" })
        @Html.TextBoxFor(model => model.ClaimMonth, new { @readonly = "readonly", @class = "form-control" })
    </div>
</div>

<div class="col-md-6">
    <div class="form-group">
        @Html.LabelFor(model => model.ClaimYear, "Claim For Year", htmlAttributes: new { @class = "bmd-label-floating" })
        @Html.TextBoxFor(model => model.ClaimYear, new { @readonly = "readonly", @class = "form-control" })
    </div>
</div>

<div class="col-md-6">
    <div class="form-group">
        @Html.LabelFor(model => model.TotalAmountClaimed, "Total Amount Claimed", htmlAttributes: new { @class = "bmd-label-floating" })
        @Html.TextBoxFor(model => model.TotalAmountClaimed, new { @readonly = "readonly", @class = "form-control" })
    </div>
</div>
<div class="col-md-12">
    <div class="form-group">
        @Html.LabelFor(model => model.Status, "Status", htmlAttributes: new { @class = "bmd-label-floating" })
        @Html.TextBoxFor(model => model.Status, new { @readonly = "readonly", @class = "form-control" })
    </div>
</div>

